<div class="jumbotron main">
  <h2><%= yield(:title_list) %></h2>

  <%= will_paginate @books, param_name: 'books_page' %>

  <ul class="category_book_list">
    <% @books.each do |b| %>
      <li class="category_book_item">
        <%= link_to image_tag(b.image_filename, alt: "#{b.title} Image", size: 150), book_path(b) %>
        <div class="category_book_text">
          <div class="category_book_title"><%= link_to b.title, book_path(b) %></div>
          <div class="category_book_author"><%= link_to Author.find(b.author_id).name, author_path(Author.find(b.author_id)) %></div>
          <div class="category_book_price">$<%= b.price %></div>
          <%= render "shared/book_row", book: b, cart_item: @cart_item %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= will_paginate @books, param_name: 'books_page' %>

</div>
