<%= provide(:title, 'Order summary') %>
<div class="main row">
  <div class="col-md-9 jumbotron order_address">
    <h2>Shipping information:</h2>
    <div class="col-md-6">
    <%= form_for(current_user, url: new_order_path, method: :patch) do |f| %>
      <%= render 'shared/error_messages', object: current_user %>
      <%= f.label "Full name" %>
      <%= f.text_field :name, autofocus: true, class: "form-control", value: current_user.name %>
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control", value: current_user.address %>
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control", value: current_user.city %>
      <%= f.label "Zip code" %>
      <%= f.text_field :zip, class: "form-control", value: current_user.zip %>
      <%= f.label :country %>
      <%= f.select :country, ['Germany','Austria','Belgium','France','Italy','Netherlands','Poland','Spain','Switzerland'], class: "form-control", value: current_user.country %>
      <%= f.submit "Complete order", class: "btn btn-info" %>
    <% end %>
    </div>
  </div>
  <div class="col-md-3 order_summary">
    <div class="jumbotron">
      <h4>Order summary</h4>
      <ul>
        <% current_cart.cart_items.each do |cart_item| %>
          <li>
              <span class="order_title"><%= cart_item.book.title %></span>
              <span class="order_quantity">x<%= cart_item.quantity %></span>
              <p class="order_price"><%= number_to_currency cart_item.total_price %></p>
          </li>
        <% end %>
      </ul>
      <div class="order_payment">
        <p>Subtotal: <%= number_to_currency current_cart.subtotal %></p>
        <p>Shipping: <%= number_to_currency current_cart.shipping %></p>
        <p>Total: <span class="order_total"><%= number_to_currency current_cart.total %></span></p>
      </div>
    </div>
  </div>
</div>
