<%= provide(:title, 'Your Order') %>
<h1>Your Order</h1>
<div class="order_summary">
  <div class="jumbotron main">
    <ul>
      <% @cart.cart_items.each do |cart_item| %>
        <li>
            <span class="order_title"><%= cart_item.book.title %></span>
            <span class="order_quantity">x<%= cart_item.quantity %></span>
            <p class="order_price"><%= number_to_currency cart_item.total_price %></p>
        </li>
      <% end %>
    </ul>
    <div class="order_payment">
      <p>Subtotal: <%= number_to_currency @cart.subtotal %></p>
      <p>Shipping: <%= number_to_currency @cart.shipping %></p>
      <p>Total: <span class="order_total"><%= number_to_currency @cart.total %></span></p>
    </div>
  </div>
</div>
