<% provide(:title, @book.title) %>
<div class="main row">
  <div class="book_category">
    <strong>Category: </strong><%= link_to Category.find(@book.category_id).name, category_path(Category.find(@book.category_id)) %>
  </div>
    <div class="col-md-9 jumbotron">
      <div class="book_image col-md-4">
        <%= image_tag(@book.image_filename, alt: "#{@book.title} Image") %>
      </div>
      <div class="book_description col-md-8">
        <h2><%= @book.title %></h2>
        <%= @book.description %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="book_price jumbotron">
        <h2>$<%= @book.price %></h2>
        <p>Plus shipping</p>
        <%= link_to "Add to cart", root_path, class: "btn btn-lg btn-info" %>
      </div>
    </div>

  <div class="book_info col-md-12 jumbotron">
      <h2>Book Information</h2>
      <ul>
        <li><strong>Author:</strong> <%= link_to @book.author, '#' %></li>
        <li><strong>Year:</strong> <%= @book.year %></li>
      </ul>
  </div>
</div>
