<% if !@cart_item.nil? && @cart_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @cart_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @cart_items.size == 0 %>
  <span>There are no items in your shopping cart.  Please go <%= link_to "back", root_path %> and add some items to your cart.</span>
<% else %>
  <% @cart_items.each do |cart_item| %>
    <div class="well">
      <%= render 'carts/cart_row', book: cart_item.book, cart_item: cart_item, show_total: true %>
    </div>
  <% end %>
  <div class="text-right">
    <p>Subtotal: <%= number_to_currency current_cart.subtotal %></p>
    <p>Shipping: <%= number_to_currency current_cart.shipping %></p>
    <p>Total: <span style="color: darkorchid"><%= number_to_currency current_cart.total %></span></p>
    <div class="cart_checkout">
      <%= link_to 'Checkout', new_order_path, class: "cart_checkout_button btn btn-lg btn-info" %>
      <%= link_to 'Continue shopping', root_path, class: "cart_checkout_button btn btn-lg btn-default", style: "float:left" %>
    </div>
  </div>
<% end %>
